<?php echo $this->doctype(); ?>
<head>
    <base href="http://<?php echo isset($_SERVER['HTTP_HOST']) ? $_SERVER['HTTP_HOST'] : 'clean-zfext' ?>/layouts/default/" />
    <?php echo $this->headMeta() ?>
    <?php echo $this->headTitle() ?>
    <?php
        $this->headLink()->headLink(array('rel' => 'shortcut icon', 'href' => 'favicon.ico', 'type' => 'image/vnd.microsoft.icon'));

        $this->headScript()->prependFile('/components/select2/select2.js');
        $this->headScript()->prependFile('/components/bootstrap-notify/js/bootstrap-notify.js');
        $this->headScript()->prependFile('/components/bootstrap/js/bootstrap.min.js');
        $this->headScript()->prependFile('/components/jquery/jquery-1.9.1.min.js');
        $this->headScript()->appendFile('/components/jquery-i18n/jquery.i18n.js');
        $this->headScript()->appendFile('js/core.js');

        $this->headLink()->appendStylesheet('/components/bootstrap/css/bootstrap.min.css');
        $this->headLink()->appendStylesheet('/components/bootstrap/css/bootstrap-responsive.min.css');
        $this->headLink()->appendStylesheet('/components/select2/select2.css');
        $this->headLink()->appendStylesheet('/components/bootstrap-notify/css/bootstrap-notify.css');
        $this->headLink()->appendStylesheet('/components/font-awesome/css/font-awesome.min.css');
        $this->headLink()->appendStylesheet('css/style.css');
    ?>
    <?php echo $this->headLink() ?>
    <?php echo $this->headStyle() ?>
    <?php echo $this->headScript() ?>
</head>
