<div class="alert alert-error">
    <div class="page-header">
        <h1><?php $this->_e('Ooops!') ?></h1>
    </div>
    <p><?php print $this->exception ?></p>
    <p>
        <?php echo $this->link(
            array(
                'module' => 'default',
                'controller' => 'index',
                'action' => 'index'
            ),
            $this->__('Go to home'),
            array('class' => 'btn btn-danger')
        ) ?>
    </p>
</div>

