body {
    padding-top: 60px;
    padding-bottom: 0px;
    height: 100%;
}

/* Footer
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    padding-bottom: 60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/* Form in hero-unit */
.hero-unit form {
    font-size: 14px;
    line-height: 20px;
}

form .select-default {
    width: 220px;
}

form .select-medium {
    width: 164px;
}

form .select-large {
    width: 224px;
}

/* Update notifications */
.notifications.top-right {
    top: 50px !important;
}