<?php if ($this->identity === false) : ?>
    <?php echo $this->link(
        array(
            'module' => 'user',
            'controller' => 'authentication',
            'action' => 'login'
        ),
        $this->__('Sign In'),
        array('class' => 'btn btn-success pull-right')
    ) ?>
<?php else : ?>
    <ul class="nav pull-right">
        <li>
            <?php echo $this->link(
                array(
                    'module'=>'user',
                    'controller'=>'authentication',
                    'action'=> 'logout'
                ),
                $this->__('Logout')
            ) ?>
        </li>
    </ul>
<?php endif; ?>
