<?php echo $this->navigation()->breadcrumbs()->setPartial(array('breadcrumbs.phtml', 'default')); ?>

<div class="hero-unit">
    <div class="page-header">
        <h1><?php echo $this->form->getDescription() ?></h1>
    </div>
    <?php $this->form->setAction($this->url(array('module'=>'user','controller'=>'authentication','action'=>'login'))) ?>
    <?php $this->form->setAttrib('class', 'form-horizontal') ?>
    <?php echo $this->form ?>

    <?php echo $this->link(
        array(
            'module' => 'user',
            'controller' => 'registration',
            'action' => 'index'
        ),
        $this->__('Registration'),
        array('class' => 'btn btn-link', 'rel' => 'tooltip', 'title' => 'Registration new user')
    ) ?>

    <?php echo $this->link(
        array(
            'module' => 'user',
            'controller' => 'forgot',
            'action' => 'index'
        ),
        $this->__('Forgotten password?'),
        array('class' => 'btn btn-link')
    ) ?>
</div>